/**
 * Fortyseven Street Css
 *
 * @package Fitness Passion
 */
.card {
	max-width: 1450px;
}
.fp_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fp_col {
	margin: 0 2rem;
}

.fp_content {
	max-width: 520px;
}
.fp-theme-image {
	margin-top: 1rem;
}
.fp-theme-image img {
	max-width: 500px;
}

.fp-admin-title {
	margin-bottom: 1rem;
}

.fp-admin-about-text {
	font-size: 1.3em;
	line-height: 23px;
}
.fp-code {
	display: inline-block;
	background-color: #d3d3d387;
	padding: .8rem;
}

