/**
 * Fortyseven Street Css
 *
 * @package Fitness Passion
 */
.card {
	max-width: 1450px;
}
.fp_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fp_col {
	margin: 0 2rem;
}

.fp_content {
	max-width: 520px;
}
.fp-theme-image {
	margin-top: 1rem;
}
.fp-theme-image img {
	max-width: 500px;
}

.fp-admin-title {
	margin-bottom: 1rem;
}

.fp-admin-about-text {
	font-size: 1.3em;
	line-height: 23px;
}
.fp-code {
	display: inline-block;
	background-color: #d3d3d387;
	padding: .8rem;
}

/* examples shorcodes*/
.fp-button {
	border: none;
	color: white;
	padding: 10px 25px;
	-webkit-transition: all .4s;
	transition: all .4s;
	font-weight: 600;
	text-decoration: none;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 1px #333;
	box-shadow: 1px 1px 1px #333;
}
.fp-button.fp-color-blue {
	background-color: #04737b !important;
}
.fp-button.fp-color-blue:hover {
	background-color: #04737bb0 !important;
}

.fp-button.fp-color-orange {
	background-color: #d8590e !important;
}
.fp-button.fp-color-orange:hover {
	background-color: #d8590eb0 !important;
}

.fp-button.fp-color-black {
	background-color: #000000 !important;
}
.fp-button.fp-color-black:hover {
	background-color: #333 !important;
}
.fp-button.fp-color-red {
	background-color: #ac0000 !important;
}
.fp-button.fp-color-red:hover {
	background-color: #ac0000b0 !important;
}
.fp-button.fp-color-white {
	background-color: #ffffff !important;
	color: #333;
}
.fp-button.fp-color-white:hover {
	background-color: #333 !important;
}
.fp-button:hover {
	color: white;
	text-decoration: none !important;
}

/* drop caps */
.fp-drop-caps {
	float: left;
	font-size: 80px;
	line-height: 57px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 4px;
	font-family: 'Tangerine', serif;
	text-transform: uppercase;
}

.fp-drop-caps.fp-shadow {
	text-shadow: 1px 1px 1px #aaa;
}

.fp-drop-caps.fp-color-black {
	color: #000000;
}
.fp-drop-caps.fp-color-blue {
	color: #04737b;
}
.fp-drop-caps.fp-color-orange {
	color: #d8590e;
}
.fp-drop-caps.fp-color-white {
	color: #ffffff;
}
.fp-drop-caps.fp-color-red {
	color: #ac0000;
}

/* Plannings */
.fp_planning {
	text-align: center;
	position: relative;
	max-width: 300PX;
	min-width: 280px;
	background-color: #04737b;
	border-radius: 10PX;
	margin: 2rem auto;
	color: #ffffff;
}

.fp_planning_title {
	color: #ffffff;
	padding: 3rem 1rem 0;
	font-size: 3em;
}
.fp_plannig_price {
	padding: 2rem;
	font-size: 5em;
	font-weight: 700;
	background-color: #e6f0f1;
	position: relative;
	margin-right: -9px;
	margin-left: -9px;
	margin-bottom: 2rem;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif !important;
	color: #cc0c0c;
}
.fp_plannig_price::before {
	content: "";
	position: absolute;
	bottom: -9px;
	right: -1px;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-top: 10px solid #c7cbccc2;
}

.fp_plannig_price::after {
	content: "";
	position: absolute;
	bottom: -9px;
	left: -1px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 10px solid #c7cbccc2;
}
.fp_planning_currency {
	font-size: .4em;
	vertical-align: top;
	font-weight: 400;
	color: #ac0000;
	margin-right: .5rem;
}
.fp_planning_recurrent {
	font-size: .4em;
	color: #ac0000;
	font-weight: 400;
}
.fp_planning_recurrent:before {
	content: "/";
}

.fp_planning .fp_plannig_desc {
	font-size: 1.2em;
	font-weight: 400;
	padding: .5rem 3rem;
}

.fp_planning_button {
	text-decoration: none !important;
	padding: .7rem 3rem;
	background-color: #ac0000;
	color: #ffffff;
	font-weight: 500;
	display: inline-block;
	margin: 2rem 1rem;
	font-size: 1.5em;
	border-radius: 5px;
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
	cursor: pointer;
}

.fp_planning_button:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #000000;
}

.fp_planning.fp_outstanding {
	background-color: black;
	color: white;
}

.fp_planning.fp_outstanding .fp_planning_button:hover {
	background-color: #04737b;
}

/*--------------------------------------------------------------
## Text Boxes
--------------------------------------------------------------*/
.fp-alert {
	font-family: Helvetica, sans-serif;
	font-size: 1.3em;
	padding: 15px;
	border: 3px solid transparent;
	border-radius: 4px;
	margin: 1rem;
}
.fp-alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #b75d67;
}
.fp-alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #5ca06c;
}
.fp-alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #e4c35e;
}
.fp-alert-info {
	color: #0c5460;
	background-color: #71c7ce;
	border-color: #34b2c5;
}
